<tr>
    <td><%= flight['order'] %></td>
    <td><%= flight['flight'].flight_number %></td>
    <td><%= flight['flight'].origin.airport %></td>
    <td><%= flight['flight'].departure_time %></td>
    <td><%= flight['flight'].destination.airport %></td>
    <td><%= flight['flight'].arrival_time %></td>
    <td><%= flight['flight'].airline.airline_name %></td>
</tr>