
<h1 id="page-title-small">{{pageTitle}}</h1>

<div id="signup-wrapper">
<div id="signup">
    
    <div class="loginSignup-top">
    <button id="login-switch" class="btn loginSignup-active" {{action "showLogin"}}>Login</button>
    <button id="signup-switch" class="btn" {{action "showSignup"}}>Register</button>
    </div>
    <div id="login-section" class="loginSignup">
     
      <form class="form-horizontal" {{action "loginUser" on="submit"}}>
        <div class="form-group">
          {{input value=email type="text" class="form-control input-lg" id="email" placeholder="Enter email"}}
        </div>
        <div class="form-group">
          {{input value=password type="password" class="form-control input-lg" id="password" placeholder="Password"}}
        </div>
        <button type="submit" class="btn std-btn">Login</button>
      </form>

    </div>

    <div id="signup-section" style="display:none;" class="loginSignup">
      <form class="form-horizontal" {{action "registerUser" on="submit"}}>
        <!-- get email -->
        <div class="form-group">
          {{input value=email type="text" class="form-control input-lg" id="email_reg" placeholder="Enter email"}}
        </div>
        <div class="form-group">
          {{input value=email_confirmation type="text" class="form-control input-lg" id="email_confirmation" placeholder="Confirm email"}}
        </div>
        <!-- get password -->
        <div class="form-group">
          {{input value=password type="password" class="form-control input-lg" id="password_reg" placeholder="Password"}}
        </div>
        <div class="form-group">
          {{input value=password_confirmation type="password" class="form-control input-lg" id="password_confirmation" placeholder="Confirm password"}}
        </div>
        <button type="submit" class="btn std-btn">Register</button>
      </form>
    </div>
  </div>
</div>