<h1 id="page-title-small">Administration</h1>

<div id="user-info" class="full-page-white-wrapper">
<div id='nav'>
	<a href="" {{action "showUserAdmin"}}>User Admin</a>
	<a href="" {{action "showFlightAdmin"}}>Flight Admin</a>
	<a href="" {{action "showAirlineAdmin"}}>Airline Admin</a>
	<a href="" {{action "showPromotionAdmin"}}>Promotion Admin</a>
</div>
	<div class="full-page-white-center-50">
		<!-- TODO: fix this up once we have users list going -->
		<div id="users-admin">
			<h2>User Admin</h2>	
			<div class="admin-inside">
				{{#if users}}
				<div id="user-filter-wrapper">
					{{input value=userFilter type="text" class="" id="user-filter" placeholder="Search"}}
				</div>
				<div id="user-list">
					<table>
					<tr>
						<th>Email</th>
						<th>Name</th>
						<th>Address</th>
						<th>Toggle Account Status</th>
						<th>Toggle Role</th>
					</tr>
						{{#each user in controller.users}}
							<tr>
								<td>{{user.email}}</td>
								<td>{{user.firstName}} {{user.lastName}}</td>
								<td>{{user.address}}</td>
								<td>
									<form {{action "toggleAccountStatus" user on="submit"}}>
										<button id="search-button" class="rounded" 
										type="submit">{{user.accountStatus}}</button>
									</form>
								</td>
								<td>
									<form {{action "toggleAccountRole" user on="submit"}}>
										<button id="search-button" class="rounded" 
										type="submit">{{user.role}}</button>
									</form>
								</td>
							</tr>
						{{/each}}
					</table>
						
					
				</div>
				<a href="" {{action "expandList"}}>expand</a>
				{{else}}
				<div id="no-users">No Users</div>
				{{/if}}
			</div>
		</div>

		<div id="flight-admin" style="display:none">
			<h2>Flight Admin</h2>
			<div class="admin-inside">
				<div id="new-flight">
					<h3>Flight Creation</h3>

					<div class="admin-inside-2">
						<form >
							<input type="text" placeholder="Airline"><br/>
							<input type="text" placeholder="Origin"><br/>
							<input type="text" placeholder="Destination"><br/>
							<input type="text" placeholder="Price"><br/>

							<label>Departure Time</label>
							<input type="text" placeholder="dd-mm-yyyy"><br/>
							<label>Arrival Time</label>
							<input type="text" placeholder="dd-mm-yyyy"><br/>

							Tell me what other shit we need here<br/>
							<button>create</button>
						</form>
					</div>

				</div>
				<div id="remove-flight">
					<h3>Flight Removal</h3>

					<div class="admin-inside-2">
						<div id="remove-flight-search">
							<input type="text" placeholder="Flight Number">
							<input type="text" placeholder="Airline">
							<button>find flight</button>
						</div>
						<div id="remove-flight-results">
							<!-- {each flight in flightsForRemoval} -->
							<div class="flight-to-remove">
								<div>Airline</div>
								<div>Flight Number</div>
								<div>From: Origin</div>
								<div>To: Destination</div>
								<button>Delete</button>
							</div>
							<!-- {/each} -->
						</div>
					</div>

				</div>
			</div>

		</div>

		<div id="airline-admin" style="display:none">
			<h2>Airline Admin</h2>
			<div class="admin-inside">
				<div id="purchase-policy">
					<h3>Purchase Policy</h3>

					<div class="admin-inside-2">
						<textarea placeholder="flight purchase policy"></textarea>
						<br/>
						<button>submit</button>
					</div>

				</div>

				<div id="new-airline">
					<h3>Add an Airline</h3>

					<div class="admin-inside-2">
						<input type="text" placeholder="Name">
						<input type="text" placeholder="AirlineCode">
						<input type="text" placeholder="Country">
						<button>create</button>
					</div>
				</div>

				<div id="existing-airlines">
					<h3>Airlines</h3>

					<div class="admin-inside-2">
						<div id="airlines-list">
							<!-- {each airline in airlines} -->
							<div class="airline">
								<div>Ariline Name</div>
								<div>Airline Code</div>
								<div>Airline Country</div>
								<button>Delete</button>
							</div>
							<!-- {/each} -->
						</div>
						<a href="" {{action "expandAirlinesList"}}>expand</a>
					</div>
				</div>

			</div>
		</div>

		<div id="promotions-admin" style="display:none">
			<h2>Promotions</h2>
			<div class="admin-inside" id="promo-search">
			<!-- At the moment, we will only allow % off a certain airline, or flight  -->
			<form {{action "loadPromoFlights" on="submit"}}>
				<div id="flight-number-promo">
					Flight Number: 
					{{input value=flightNumberPromo type="text" class="text-input" id="promo-flightNumber" placeholder="XXYYYY"}}
				</div>
				<div id="departure-date-promo">
					Minimum Departure Date: 
					{{input value=departDatePromo type="text" class="date-input" id="departure-datepicker" placeholder="dd-mm-yyyy"}}
				</div>
				<div id="max-departure-date-promo">
					Maximum Departure Date: 
					{{input value=maxDepartDatePromo type="text" id="return-datepicker"  class="date-input" placeholder="dd-mm-yyyy"}}
				</div>
				<button id="search-button" class="rounded" type="submit">Search</button>
			</form>

			</div>
			<div class="admin-inside" id="promo-select" style="display:none">
			<!-- Display all of the selected flights and stuff --> 
			<!-- Get the promotion details first! -->
			<form {{action "setupDiscount" on="submit"}}>
				{{input value=discount type="text"  placeholder="Enter amount"}}
				<button id="search-button" class="rounded" type="submit">Set Discount</button>
			</form>
			<form {{action "cancelPromoSelect" on="submit"}}>
				<button id="search-button" class="rounded" type="submit">Cancel</button>
			</form>
			<table>
				<tr>
					<th>Flight Number</th>
					<th>Departure Date</th>
					<th>Arrival Date</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Apply Promotion</th>
				</tr>	
			{{#each flight in controller.promoFlightList }}
			  <tr>
			  	<td>{{flight.flightNumber}}</td>
			  	<td>{{flight.departureTime}}</td>
			  	<td>{{flight.arrivalTime}}</td>
			  	<td>{{flight.origin}}</td>
			  	<td>{{flight.destination}}</td>
			  	<td><form {{action "applyPromotion" flight on="submit"}} >
			  		<button id="search-button" class="rounded" type="submit">Apply</button>
			  	</form></td>
			  </tr>
			{{/each}}
			</table>
			
			</div>
		</div>

	</div>
</div>