{{view Ember.Select
	contentBinding="App.peopleController"
	selectionBinding="App.selectedPersonController.person"
	optionLabelPath="content.fullName"
	optionValuePath="content.id"}}
	<div id="search-wrapper">

		<div id="flight-search">
			<form class="form-horizontal" {{action "flightSearch" on="submit"}}>
			<div id="left-box" class="flight-search-box place-input">
				<div id="departure">
					{{input value=from type="text" class="city-input rounded" placeholder="From"}}
				</div>

				<div class="arrow"></div>
				<div class="drop-down">
					<div class="arrow_box rounded suggestions-box" id="departure-suggestions">
						<ul class="suggestions">
							{{#each destination in model}}
							<li>{{destination.destinationCode}}  -  {{destination.airport}}, {{destination.countryName}}</li>
							{{/each}}
						</ul>
					</div>
				</div>



				<div id="departure-date">
					Depart: 
					{{input value=departDate type="text" class="date-input" id="departure-datepicker" placeholder="dd-mm-yyyy"}}
				</div>
			</div>

			<div class="flight-search-box place-input">
				<div class="return">
					{{input value=to placeholder="To" class="city-input rounded" type="text"}}
				</div>
				<div class="arrow" style="display:none;"></div>
				<div class="drop-down" style="display:none;">
					<div class="arrow_box rounded suggestions-box" id="return-suggestions">
						<ul class="suggestions">
							{{#each destination in model}}
							<li>{{destination.destinationCode}}  -  {{destination.airport}}, {{destination.countryName}}</li>
							{{/each}}
						</ul>
					</div>
				</div>

				<div id="return-date">
					Return:						
					{{input value=returntDate type="text" id="return-datepicker"  class="date-input" placeholder="dd-mm-yyyy"}}
				</div>
			</div>

			<div class="flight-search-box seat-input">
				<div class="value-select">
					People:
					{{view "select"
					content=controller.people
					optionValuePath="content.number"
					optionLabelPath="content.number"
					id="people-selection"}}
				
				</div>
				<div class="value-select">
					Class: 
					{{view "select"
					content=controller.tickets
					optionValuePath="content.classCode"
					optionLabelPath="content.details"
					id="class-selection"}}
				</div>
			</div>

			<div class="flight-search-box" id="search-button-wrapper">
				<button id="search-button" class="rounded" type="submit">Search</button>
			</div>

			</form>
		</div>
	</div>

	<div id="description">
		<p>Sit back, have a drink, and we'll do the work for you.</p>
	</div>