<h1 id="page-title-small">User Profile</h1>

<div id="user-info" class="full-page-white-wrapper">
	<div class="full-page-white-center-50">

		{{#each journey in upcomingJourneys}}
			{{journey.save_type}}
		{{/each}}
		{{pastJourneys}}
		{{savedJourneys}}
			
		

		<div id="purchased-flights">
			<div id="upcoming">
				<h2>Upcoming Trips</h2>
				<div class="upcoming-trip admin-inside">
					<div class="departure-time">Depart Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="arrive-time">Arrival Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="number-of-stops">No Stops</div>
					<div class="trip-time">Total Time: 10h 50m</div>
					<div class="trip-price">Cost: $20.00</div>
					<div class="trip-paid">Paid on: 5/04/2015</div>
					

	
					<!-- if flights is more than 1 -->
					<div class="trip-flights-list">
						<ul>
							<!-- for each flight in trip -->
							<li>
								Flight: A380
								<ul>
									<li>Departure: hh:mm am dd/mm/yy</li>
									<li>Return: hh:mm pm dd/mm/yy</li>
									<li>Airline: Emirates</li>
									<li>Class: Economy</li>
								</ul>
							</li>
							<!-- end loop -->
						</ul>
					</div>
					<!-- end if -->

					<button>Cancel Flight</button>
				</div>
			</div>
			
			<h2>Previous Trips</h2>
			<div  class="past-trips admin-inside">

				<div id="past-trips-list">
					<!-- for each flight in past flights -->
					<div class="past-depart-time">Depart Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="past-arrive-time">Arrive Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="past-total-time">Total Time: hh:mm </div>
					<div class="past-price">Price: $12012012011010 </div>
					<!-- end loop -->
				</div>

				<a href="">more</a>
			</div>
		</div>

		<div id="saved-flights">
			<h2>Saved Flights</h2>

			<div class="saved-flights-list admin-inside" >
				<!-- for each saved flight -->
					<div class="saved-flight">

						<div class="departure-time">Depart Time: hh:mm (am|pm) dd/mm/yyyy</div>
						<div class="arrive-time">Arrival Time: hh:mm (am|pm) dd/mm/yyyy</div>
						<div class="number-of-stops">No Stops</div>
						<div class="trip-time">Total Time: 10h 50m</div>
						<div class="trip-price">Cost: $20.00</div>
						<div class="trip-paid">Paid on: 5/04/2015</div>

						<!-- if flights is more than 1 -->
							<div class="trip-flights-list">
								<ul>
									<!-- for each flight in trip -->
									<li>
										Flight: A380
										<ul>
											<li>Departure: hh:mm am dd/mm/yy</li>
											<li>Return: hh:mm pm dd/mm/yy</li>
											<li>Airline: Emirates</li>
											<li>Class: Economy</li>
										</ul>
									</li>
									<!-- end loop -->
								</ul>
							</div>
						<!-- end if -->
						<button>Delete</button>
					</div>
			</div>

				<!-- end loop -->
		</div>


		<div id="settings">
			<h2>Settings</h2>
			<!-- here we will have the settings form which can be updated asynchronously -->
			<div class="admin-inside">
				<form {{action "saveDetails" on="submit"}} >
					
					<!-- To have a new email address, the user must confirm it  -->
					<div class="form-group">
			          {{input value=email type="text" class="form-control input-lg" id="email" placeholder="Enter new email"}}
			        </div>
			        <div class="form-group">
			          {{input value=email_confirmation type="text" class="form-control input-lg" id="email_confirmation" placeholder="Confirm email"}}
			        </div>

			        <!-- User can update their name and bio  -->
		        	<div class="form-group">
			          {{input value=firstName type="text" class="form-control input-lg" id="firstName" placeholder="First Name"}}
			        </div>
			        <div class="form-group">
			          {{input value=lastName type="text" class="form-control input-lg" id="lastName" placeholder="Last Name"}}
			        </div>
			        <div class="form-group">
			          {{input value=address type="text" class="form-control input-lg" id="address" placeholder="Billing Address"}}
			        </div>

					<label>Recieve Marketing Emails</label><input type="checkbox"><br/>

					<button type="submit">Save Changes</button>
				</form>
				<form {{action "suspendAccount" on="submit"}} >

					<button type="submit">Suspend Account</button>
				</form>

				<form {{action "saveDetails" on="submit"}} >
								        <!-- To have a new password -->
			        <div class="form-group">
			          {{input value=password type="password" class="form-control input-lg" id="password_reg" placeholder="Password"}}
			        </div>
			        <div class="form-group">
			          {{input value=password_confirmation type="password" class="form-control input-lg" id="password_confirmation" placeholder="Confirm password"}}
			        </div>
		        <button type="submit">Change Password</button>
		        </form>
			</div>
		</div>
	</div>
</div>