<h1 id="page-title-small">User Profile</h1>

<div id="user-info" class="full-page-white-wrapper">
	<div class="full-page-white-center-50">
		
		<div class='user-nav'>
			<button id="purchased-trips-switch" class="btn user-nav-active"{{action "showPurchased"}}>Purchased Trips</button>
			<button id="saved-trips-switch" class="btn"{{action "showSaved"}}>Saved Trips</button>
			<button id="settings-switch" class="btn"{{action "showSettings"}}>Settings</button>
		</div>

		<div id="purchased-flights">
			<div id="upcoming">
				<h2>Upcoming Trips</h2>
				<div class="upcoming-trip admin-inside">
					{{#each journey in upcomingJourneys}}
					<div class="saved-flight">
						<h3><span style="color:#A1A1A1; font-weight: normal; font-size: 14px;">From</span> {{journey.origin}} 
							<span style="color:#A1A1A1; font-weight: normal; font-size: 14px;">To</span> {{journey.destination}}
							<span style="color:rgb(49, 203, 49); margin-left:10px;">${{journey.price}}</span>
							<span style="color:black; margin-left:10px;">{{journey.flight_time_hours}}h {{journey.flight_time_minutes}}m</span>
						</h3>
						<div class="admin-inside">
							{{#each f in journey.flights}}
							<div class="leg-details" {{bind-attr style="flight.legStyle"}}>

								<div class="leg-departure">
									<div class="leg-from-name">From</div><div class="leg-from">{{f.flight.origin}}</div>	
								</div>

								<div class="leg-arrival">
									<div class="leg-to-name">To</div><div class="leg-to">{{f.flight.destination}}</div>
								</div>

								<div class="airline">
									<div class="airline-title">Airline</div> {{f.flight.airline}}
								</div>

								<div class="flight-number">
									<div class="flight-num-title">Flight No.</div> {{f.flight.flightNumber}}
								</div>
								<br/>
								<div class="departure">
									<div class="departure-title">Departure:</div>{{f.flight.departure_time}}
								</div>

								<div class="arrival">
									<div class="arrival-title">Arrival:</div>{{f.flight.arrival_time}}
								</div>
							</div>

							{{/each}}
							<div class="pruchased-flight-actions">
								<button class="btn cancel-purchase">Cancel Flight</button>
							</div>
						</div>

					</div>

					{{/each}}
				</div>
			</div>
			
			<h2>Previous Trips</h2>
			<div  class="past-trips admin-inside">
				
				<div id="past-trips-list">

					{{#each journey in pastJourneys}}
					<div class="saved-flight">
						<h3><span style="color:#A1A1A1; font-weight: normal; font-size: 14px;">From</span> {{journey.origin}} 
							<span style="color:#A1A1A1; font-weight: normal; font-size: 14px;">To</span> {{journey.destination}}
						</h3>
						<div class="admin-inside">
							{{#each f in journey.flights}}
							<div class="leg-details" {{bind-attr style="flight.legStyle"}}>

								<div class="leg-departure">
									<div class="leg-from-name">From</div><div class="leg-from">{{f.flight.origin}}</div>	
								</div>

								<div class="leg-arrival">
									<div class="leg-to-name">To</div><div class="leg-to">{{f.flight.destination}}</div>
								</div>

								<div class="airline">
									<div class="airline-title">Airline</div> {{f.flight.airline}}
								</div>

								<div class="flight-number">
									<div class="flight-num-title">Flight No.</div> {{f.flight.flightNumber}}
								</div>
								<br/>
								<div class="departure">
									<div class="departure-title">Departure:</div>{{f.flight.departure_time}}
								</div>

								<div class="arrival">
									<div class="arrival-title">Arrival:</div>{{f.flight.departure_time}}
								</div>
							</div>

							{{/each}}
						</div>

					</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div id="saved-flights" style="display:none;">
			<h2>Saved Trips</h2>

			<div class="saved-flights-list admin-inside" >
				{{#each journey in savedJourneys}}		
				<div class="saved-flight">
					<h3><span style="color:#A1A1A1; font-weight: normal; font-size: 14px;">From</span> {{journey.origin}} 
							<span style="color:#A1A1A1; font-weight: normal; font-size: 14px;">To</span> {{journey.destination}}
							<span style="color:rgb(49, 203, 49); margin-left:10px;">${{journey.price}}</span>
							<span style="color:black; margin-left:10px;">{{journey.flight_time_hours}}h {{journey.flight_time_minutes}}m</span>
						</h3>


					<div class="admin-inside">
						<div class="saved-flight-actions">
						<button class="btn purchase-saved">Purchase</button>
							<button class="btn remove-saved">Remove</button>
						</div>

						{{#each f in journey.flights}}
						<div class="leg-details" {{bind-attr style="flight.legStyle"}}>

							<div class="leg-departure">
								<div class="leg-from-name">From</div><div class="leg-from">{{f.flight.origin}}</div>	
							</div>

							<div class="leg-arrival">
								<div class="leg-to-name">To</div><div class="leg-to">{{f.flight.destination}}</div>
							</div>

							<div class="airline">
								<div class="airline-title">Airline</div> {{f.flight.airline}}
							</div>

							<div class="flight-number">
								<div class="flight-num-title">Flight No.</div> {{f.flight.flightNumber}}
							</div>
							<br/>
							<div class="departure">
								<div class="departure-title">Departure:</div>{{f.flight.departure_time}}
							</div>

							<div class="arrival">
								<div class="arrival-title">Arrival:</div>{{f.flight.departure_time}}
							</div>
						</div>

						{{/each}}
					</div>

				</div>

				{{/each}}
			</div>

			<!-- end loop -->
		</div>


		<div id="settings" style="display:none;">
			<h2>Settings</h2>
			<!-- here we will have the settings form which can be updated asynchronously -->
			<div class="admin-inside">
				<form {{action "saveDetails" on="submit"}} >
					
					<!-- To have a new email address, the user must confirm it  -->
					<div class="form-group">
						{{input value=email type="text" class="form-control input-lg" id="email" placeholder="Enter new email"}}
					</div>
					<div class="form-group">
						{{input value=email_confirmation type="text" class="form-control input-lg" id="email_confirmation" placeholder="Confirm email"}}
					</div>

					<!-- User can update their name and bio  -->
					<div class="form-group">
						{{input value=firstName type="text" class="form-control input-lg" id="firstName" placeholder="First Name"}}
					</div>
					<div class="form-group">
						{{input value=lastName type="text" class="form-control input-lg" id="lastName" placeholder="Last Name"}}
					</div>
					<div class="form-group">
						{{input value=address type="text" class="form-control input-lg" id="address" placeholder="Billing Address"}}
					</div>

					<button type="submit">Save Changes</button>
				</form>
				<form {{action "suspendAccount" on="submit"}} >

					<button type="submit">Suspend Account</button>
				</form>

				<form {{action "saveDetails" on="submit"}} >
					<!-- To have a new password -->
					<div class="form-group">
						{{input value=password type="password" class="form-control input-lg" id="password_reg" placeholder="Password"}}
					</div>
					<div class="form-group">
						{{input value=password_confirmation type="password" class="form-control input-lg" id="password_confirmation" placeholder="Confirm password"}}
					</div>
					<button type="submit">Change Password</button>
				</form>
			</div>
		</div>
	</div>
</div>