
{{outlet}}


<!-- TODO:

		- create filters: 
				larger buttons for common ones like 'no stops' and 'lowest price'
				custom filter for filter by time and by number of stops

		- get better plane image
				if you have time make it so it changes depending on airlines

		- show promotions
				either create a new promotions section or do what people were 
				suggesting where we slash the price or something

		- accordian for displaying flight details
				
		- show whether page is for Departure or Return (maybe just a title?)

		- no results display (can be an else after the #each)
	-->


	<div id="results">
		<div id="result-graph-wrapper">
			<div id="loader" style="display:none;">
				<div id="result-graph-overlay">

				</div>
				<div id="result-graph-loader-img">
					<img src="assets/loader.gif">
					<div id="loader-text">
						Loading
					</div>
				</div>
			</div>

			<div id="ticket-type">
				<!-- we will be displaying the type 'Depart' || 'Return' and maybe a cute image -->
			</div>

			<div id="result-filters">
				<div id="main-filters">
					Filter By: 

					<!-- these filters buttons need to click on and off, visually -->

					<!-- this sorting works but! because price is in strings it sorts weird -->
					<button {{action "sortBy" "price:asc"}} id="cheapest-first-filter">cheapest first</button> 
					
					<!-- change this to flight time in the future -->
					<button {{action "sortBy" "departureTime:asc"}}id="shortest-first-filter">quickest first</button> 
					

					<button id="no-stops-filter">no stops</button> <!-- this button acts like a checkbox? -->	
				</div>

				<div id="advanced-filters">
					<input id="depart-from-time-filter"> <!-- this is some sort of selection based on time of day -->
					<input id="arrive-before-time-filter"> <!-- this is some sort of selection based on time of day -->
					<input id="max-stops-filter"> <!-- this is some sort of number selection -->
					<input id="airline-filter"> <!-- this is some sort of selection where you choose whihc airline(s?) to filter by -->
				</div>
			</div>

			<div id="result-graph">

				{{#each flight in controller.sortedFlights itemController="flight"}}
				<div class="result-item rounded" {{action  "selected" on="mouseUp"}}>
					<div class="result-left">
						<div class="airline">
							<div class="airline-image">
								<img src="assets/glyphicons-39-airplane.png">
							</div>
						</div>
						<div class="price">
							<div class="price-inner">${{flight.price}}</div>
						</div>
					</div>
					<div class="time-wrapper">
						<div class="time-bar" {{bind-attr style='flight.timeBarStyle'}}>
							<div class="time" style="right:100%;">{{flight.departureTime}}</div>
							<div class="time" style="left:100%;">{{flight.arrivalTime}}</div>
						</div>
						<div class="col" style="left:16.6666666%;"></div>
						<div class="col" style="left:33.3333333%;"></div>
						<div class="col" style="left:50%;"></div>
						<div class="col" style="left:66.6666666%;"></div>
						<div class="col" style="left:83.3333333%;"></div>
					</div>
				</div>
				{{#if flight.selected}}
					Hello World
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	