
{{outlet}}


<!-- TODO:

		- show promotions
				either create a new promotions section or do what people were 
				suggesting where we slash the price or something

		- accordian for displaying flight details
				need to display:
					- flight price
					- from and to
					- legs of the flight
					- time (total + depart/arrive)


		- show whether page is for Departure or Return (maybe just a title?)

		- no results display (can be an else after the #each)
	-->


	<h1 id="page-title">SYD to MLB</h1>

	<div id="results">
		<div id="result-graph-wrapper">
			<div id="loader" style="display:none;">
				<div id="result-graph-overlay">

				</div>
				<div id="result-graph-loader-img">
					<img src="assets/loader.gif">
					<div id="loader-text">
						Loading
					</div>
				</div>
			</div>

			<div id="ticket-type">
				<!-- we will be displaying the type 'Depart' || 'Return' and maybe a cute image -->
			</div>

			<div id="result-filters">
				<div id="main-filters">
					<button {{action "sortBy" "price:asc"}} id="cheapest-first-filter">cheapest first</button> 
					<button {{action "sortBy" "flightTime:asc"}}id="shortest-first-filter">quickest first</button> 
					<button id="no-stops-filter" {{action "filterBy" "noStops"}}>no stops</button> <!-- this button acts like a checkbox? -->	
				</div>
				<select id="max-stops-filter">
					<option value="-1">Max Stops</option>
					<option value="1">1 Stops</option>
					<option value="2">2 Stops</option>
					<option value="3">3 Stops</option>
					<option value="4">4 Stops</option>
					<option value="-2">5+ Stops</option>
				</select> <!-- this is some sort of number selection -->				
				<select id="stop-location-filter">
					<option value="">Specify Stop</option>
					<option value="syd">SYD</option>
					<option value="syd">SYD</option>
					<option value="syd">SYD</option>
					<option value="syd">SYD</option>
				</select>

			</div>

			<div id="result-graph">
				{{#each flight in controller.sortedFlights itemController="flight"}}
				<div class="result-item rounded" {{action  "selected" flight}}>
					<div class="result-left">
						<div class="airline">
							<div class="airline-image">
								<img src="assets/glyphicons-39-airplane.png">
							</div>
						</div>
						<div class="price">
							<div class="price-inner">${{flight.price}}</div>
						</div>
					</div>
					<div class="time-wrapper">
						<div class="time-bar" {{bind-attr style='flight.timeBarStyle'}}>
							<div class="time" style="right:100%;">{{flight.departureTimeHourDay}}</div>
							<div class="time" style="left:100%;">{{flight.arrivalTimeHourDay}}</div>
						</div>
						<div class="col" style="left:16.6666666%;"></div>
						<div class="col" style="left:33.3333333%;"></div>
						<div class="col" style="left:50%;"></div>
						<div class="col" style="left:66.6666666%;"></div>
						<div class="col" style="left:83.3333333%;"></div>
					</div>
				</div>
				<div class="flight-details">
					<div class="flight-details-inner" {{bind-attr id="flight.id"}}>
						<!-- {#if flight.hasStops}
							
							<div class="stops">{{flight.numberOfStops}}</div>

							{#else} -->
							<div class="details-l1">
								<div class="flight-number">
									{{flight.flightNumber}}
								</div>
								<div class="direct">Direct Flight</div>
							</div>
							<div class="details-l2">
								<div class="total-time">
									<div class="time-img"><img src="/assets/glyphicons-58-history.png"></div> 
									<div class="time">{{flight.flightLengthMinutesHours}}</div>
								</div>
							</div>

							<div class="details-center">
								<div class="trip">

									<div class="trip-left">
										<div class="from">from</div>
										<div class="trip-from">{{flight.origin}}</div>
									</div>
									<div class="trip-right">
										<div class="to">to</div>
										<div class="trip-to">{{flight.destination}}</div>
									</div>
								</div>
									
									<div class="trip-times">
										<div class="arrive"><span class="grey detail-time-label">Depart:</span> {{flight.departureTime}}</div>
										<div class="depart"><span class="grey detail-time-label">Arrive:</span> {{flight.arrivalTime}}</div>
									</div>
							</div>

							<div class="details-right">
								<div class="flight-select">
									<button class="btn"><img src="/assets/glyphicons-207-ok-2.png"></button>
								</div>
								<div class="extra-buttons-wrapper">
									<div class="flight-save"><button class="btn" {{action "saveFlight" flight}} >Save</button></div>
									<div class="flight-compare"><button class="btn">Compare</button></div>
								</div>
							</div>

							<!-- {/if} -->
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
