<!-- 
	TODO: I have to add some things:
		- accordian for flight ticket info stuff
		- flight filters
-->
{{outlet}}

<div id="top-row-anchor">
		
	</div>
	<!-- <div id="results-top-row">
		<div id="top-row-inner">
			<div id="total">
				<div id="total-title">Total:</div>
				<div id="money">$100,000,000</div>
			</div>

			<div id="ticket-display">
				<div id="depart">
					<div id="depart-small">
						<div class="text-top">Depart</div>
						<div class="arrow"><img src="images/ticket-back.png"></div>
						<div class="text-bottom">Depart</div>
					</div>
					<div class="ticket-info">
						<div class="ticket-top">
							<div class="ticket-title">
								Depart
							</div>
							<div class="ticket-price">
								$9999
							</div>
						</div>
						<div class="ticket-middle">
							<div class="start">SYD</div>
							<div class="arrow"> -> </div>
							<div class="end">HKG</div>  
						</div>
						<div class="ticket-bottom">
							<div class="flight-times">
								<img src="png/glyphicons-58-history.png"><span class="bottom-text">9am - 5pm</span>
							</div>
							<div id="stops1" class="travel-stops non-zero-stops"> 2 stops </div>
							<div class="flight-duration">
								<img src="png/glyphicons-56-stopwatch.png">
								<span class="bottom-text">8h</span> 
							</div>
						</div>
					</div>
				</div>
				<div id="return">
					<div class="ticket-info">
						<div class="ticket-top">
							<div class="ticket-title">Return</div>
							<div class="ticket-price">
								$9999
							</div>
						</div>
						<div class="ticket-middle">
							<div class="start">HKG</div>
							<div class="arrow"> <-- </div>
							<div class="end">SYD</div>  
						</div>
						<div class="ticket-bottom">
							<div class="flight-times"><img src="png/glyphicons-58-history.png">9am - 5pm</div>
							<div id="stops2" class="travel-stops"> no stops </div>
							<div class="flight-duration">
								<img src="png/glyphicons-56-stopwatch.png"> 8h 
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="flight-select">
				<img src="png/glyphicons-207-ok-2.png">
			</div>
		</div>
		<div id="stops-info" class="arrow_box">
			Columbia, Singapore, Gauntanamo, Other stuff with more
		</div>
	</div>
	-->
<!-- Index listing for the 'flights' -->
<!-- This is essential as certain things that are created by ember expect their
	own templates and routes and what not -->

<!-- TODO:

		- create filters: 
				larger buttons for common ones like 'no stops' and 'lowest price'
				custom filter for filter by time and by number of stops

		- get better plane image
				if you have time make it so it changes depending on airlines

		- show promotions
				either create a new promotions section or do what people were 
				suggesting where we slash the price or something

		- accordian for displaying flight details
				
		- show whether page is for Departure or Return (maybe just a title?)
-->


	<div id="results">
		<div id="result-graph-wrapper">
			<div id="loader" style="display:none;">
				<div id="result-graph-overlay">

				</div>
				<div id="result-graph-loader-img">
					<img src="assets/loader.gif">
					<div id="loader-text">
						Loading
					</div>
				</div>
			</div>
			
		<div id="result-graph">
			{{#each flight in model itemController='flight'}}
				<div class="result-item rounded">
					<div class="result-left">
						<div class="airline">
							<div class="airline-image">
								<img src="assets/glyphicons-39-airplane.png">
							</div>
						</div>
						<div class="price">
							<div class="price-inner">${{flight.price}}</div>
						</div>
					</div>
					<div class="time-wrapper">
					<div class="time-bar" {{bind-attr style='flight.timeBarStyle'}}>
							<div class="time" style="right:100%;">{{flight.departureTime}}</div>
							<div class="time" style="left:100%;">{{flight.arrivalTime}}</div>
						</div>
						<div class="col" style="left:16.6666666%;"></div>
						<div class="col" style="left:33.3333333%;"></div>
						<div class="col" style="left:50%;"></div>
						<div class="col" style="left:66.6666666%;"></div>
						<div class="col" style="left:83.3333333%;"></div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>
	