
{{outlet}}


<!-- TODO:

		- create filters: 
				larger buttons for common ones like 'no stops' and 'lowest price'
				custom filter for filter by time and by number of stops

		- get better plane image
				if you have time make it so it changes depending on airlines

		- show promotions
				either create a new promotions section or do what people were 
				suggesting where we slash the price or something

		- accordian for displaying flight details
				need to display:
					- flight price
					- from and to
					- legs of the flight
					- time (total + depart/arrive)
					- select flight button
					- save flight button
					- compare flight button


		- show whether page is for Departure or Return (maybe just a title?)

		- no results display (can be an else after the #each)
	-->


	<div id="results">
		<div id="result-graph-wrapper">
			<div id="loader" style="display:none;">
				<div id="result-graph-overlay">

				</div>
				<div id="result-graph-loader-img">
					<img src="assets/loader.gif">
					<div id="loader-text">
						Loading
					</div>
				</div>
			</div>

			<div id="ticket-type">
				<!-- we will be displaying the type 'Depart' || 'Return' and maybe a cute image -->
			</div>

			<div id="result-filters">
				<div id="main-filters">
					Filter By: 

					<!-- these filters buttons need to click on and off, visually -->

					<!-- this sorting works but! because price is in strings it sorts weird -->
					<button {{action "sortBy" "price:asc"}} id="cheapest-first-filter">cheapest first</button> 
					
					<!-- change this to flight time in the future -->
					<button {{action "sortBy" "departureTime:asc"}}id="shortest-first-filter">quickest first</button> 
					

					<button id="no-stops-filter">no stops</button> <!-- this button acts like a checkbox? -->	
				</div>

				<div id="advanced-filters">
					<input id="depart-from-time-filter"> <!-- this is some sort of selection based on time of day -->
					<input id="arrive-before-time-filter"> <!-- this is some sort of selection based on time of day -->
					<input id="max-stops-filter"> <!-- this is some sort of number selection -->
					<input id="airline-filter"> <!-- this is some sort of selection where you choose whihc airline(s?) to filter by -->
				</div>
			</div>

			<div id="result-graph">

				{{#each flight in controller.sortedFlights itemController="flight"}}
				<div class="result-item rounded" {{action  "selected" on="mouseUp"}}>
					<div class="result-left">
						<div class="airline">
							<div class="airline-image">
								<img src="assets/glyphicons-39-airplane.png">
							</div>
						</div>
						<div class="price">
							<div class="price-inner">${{flight.price}}</div>
						</div>
					</div>
					<div class="time-wrapper">
						<div class="time-bar" {{bind-attr style='flight.timeBarStyle'}}>
							<div class="time" style="right:100%;">{{flight.departureTime}}</div>
							<div class="time" style="left:100%;">{{flight.arrivalTime}}</div>
						</div>
						<div class="col" style="left:16.6666666%;"></div>
						<div class="col" style="left:33.3333333%;"></div>
						<div class="col" style="left:50%;"></div>
						<div class="col" style="left:66.6666666%;"></div>
						<div class="col" style="left:83.3333333%;"></div>
					</div>
				</div>
				{{#if flight.selected}}
				<div id="flight-details">
						<div id="top-row-inner">

							<!-- maybe move this total to above/next to the filters -->
							<!-- <div id="total">
								<div id="total-title">Total:</div>
								<div id="money">${{flight.price}}</div>
							</div> -->


							<div id="ticket-display">
								<!-- TODO: should this still be called depart? -->
								<div id="depart">
									<div id="depart-small">
										<div class="text-top">Depart</div>
										<div class="arrow"><img src="images/ticket-back.png"></div>
										<div class="text-bottom">Depart</div>
									</div>
									<div class="ticket-info">
										<div class="ticket-top">
											<div class="ticket-title">
												Ticket Name? 
											</div>
											<div class="ticket-price">
												${{flight.price}}
											</div>
										</div>

										<!-- TODO: make these things work!! -->
										<div class="ticket-middle">
											<div class="start">{{flight.from}}</div>
											<div class="arrow"> -> </div>
											<div class="end">{{flight.to}}</div>  
										</div>


										<div class="ticket-bottom">
											<div class="flight-times">
												<img src="png/glyphicons-58-history.png"><span class="bottom-text">9am - 5pm</span>
											</div>
											<div id="stops1" class="travel-stops non-zero-stops">{{flight.numberOfStops}} 2 stops<!-- make the thing work {{#if flight.numberOfStops }}s{{/if}}--> </div>
											<div class="flight-duration">
												<img src="png/glyphicons-56-stopwatch.png">
												<span class="bottom-text">{{flight.duration}}</span> 
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="flight-select">
								<img src="png/glyphicons-207-ok-2.png">
							</div>
						</div>
				</div>
				{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	