<h1 id="page-title-small">Review</h1>
<div class="full-page-white-wrapper">
	<div class="full-page-white-center">

				<!-- note this is optional, need to have a flag in models -->
		{{#if DepartureFlight}}
		<div class="flight-review">
			<h2>Depature</h2>
			 ${{DepartureFlight.price}}
		<!-- {#if DepartureFlight.hasStops}
				<div class="stops">{{DepartureFlight.numberOfStops}}</div>
			{#else} -->
			
			{{DepartureFlight.flightNumber}}
			Direct Flight
			<img src="/assets/glyphicons-58-history.png">{{DepartureFlight.flightLengthMinutesHours}}
			from {{DepartureFlight.origin}}
			to {{DepartureFlight.destination}}
			Depart:{{DepartureFlight.departureTime}}
			Arrive:{{DepartureFlight.arrivalTime}}
		<!-- {/if} -->
		</div>
		{{/if}}

		<!-- note this is optional, need to have a flag in models -->
		{{#if ReturnFlight}}
		<div class="flight-review">
			<h2>Return</h2>
			 ${{ReturnFlight.price}}
		<!-- {#if ReturnFlight.hasStops}
				<div class="stops">{{ReturnFlight.numberOfStops}}</div>
			{#else} -->
			
			{{ReturnFlight.flightNumber}}
			Direct Flight
			<img src="/assets/glyphicons-58-history.png">{{ReturnFlight.flightLengthMinutesHours}}
			from {{ReturnFlight.origin}}
			to {{ReturnFlight.destination}}
			Depart:{{ReturnFlight.departureTime}}
			Arrive:{{ReturnFlight.arrivalTime}}
		<!-- {/if} -->
		</div>
		{{/if}}

		<div id="purchase-flights">
			<button class="rounded" {{action "purchase"}}>Purchase</button>
		</div>
	</div>
</div>