<h1 id="page-title-small">Review</h1>
<div class="full-page-white-wrapper">
	<div class="full-page-white-center">

		{{#if DepartureFlight}}
		<div class="flight-review">
			<h2>Depature from MLB</h2>

			<div class="flight-review-details">
				
				<div class="review-top">
					<div class="review-flight-price">${{DepartureFlight.price}}</div>

					<div class="review-flightNumber">{{DepartureFlight.flightNumber}}</div>

					<div class="review-direct">Direct Flight</div>
				</div>

				
				<div class="review-middle">
					
					<div class="review-flight-time">{{DepartureFlight.flightTimeHoursMinutes}}</div>

				</div>
				

				<div class="review-from">
					<div class="from">from</div>
					<div class="trip-from">{{DepartureFlight.origin}}</div>
				</div>

				<div class="depart">
					<div class="grey detail-time-label">Depart:</div>
					<div class="review-departure-time">
						{{DepartureFlight.departureTime}}
					</div>
				</div>
				
				<div class="review-to">
					<div class="to">to</div>
					<div class="trip-to">{{DepartureFlight.destination}}</div>
				</div>
				<div class="arrive">
					<class class="grey detail-time-label">Arrive:</class>
					<div class="review-arrival-time">
						{{DepartureFlight.departureTime}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}

		{{#if ReturnFlight}}
		<div class="flight-review">
			<h2>Return from MLB</h2>

			<div class="flight-review-details">
				
				<div class="review-top">
					<div class="review-flight-price">${{ReturnFlight.price}}</div>

					<div class="review-flightNumber">{{ReturnFlight.flightNumber}}</div>

					<div class="review-direct">Direct Flight</div>
				</div>

				
				<div class="review-middle">
					
					<div class="review-flight-time">{{ReturnFlight.flightTimeHoursMinutes}}</div>

				</div>
				

				<div class="review-from">
					<div class="from">from</div>
					<div class="trip-from">{{ReturnFlight.origin}}</div>
				</div>

				<div class="depart">
					<div class="grey detail-time-label">Depart:</div>
					<div class="review-departure-time">
						{{ReturnFlight.departureTime}}
					</div>
				</div>
				
				<div class="review-to">
					<div class="to">to</div>
					<div class="trip-to">{{ReturnFlight.destination}}</div>
				</div>
				<div class="arrive">
					<class class="grey detail-time-label">Arrive:</class>
					<div class="review-arrival-time">
						{{ReturnFlight.departureTime}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}

		<div id="purchase-flights">
			<button class="rounded" {{action "purchase"}}>Purchase</button>
		</div>
	</div>
</div>