<div id="user-info" class="full-page-white-wrapper">
	{{user.email}}
	<div class="full-page-white-center-50">

		<div id="purchased-flights">
			<div id="upcoming">
				<h2>Upcoming Trips</h2>
				<div class="upcoming-trip admin-inside">
					<div class="departure-time">Depart Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="arrive-time">Arrival Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="number-of-stops">No Stops</div>
					<div class="trip-time">Total Time: 10h 50m</div>
					<div class="trip-price">Cost: $20.00</div>
					<div class="trip-paid">Paid on: 5/04/2015</div>

					<!-- if flights is more than 1 -->
					<div class="trip-flights-list">
						<ul>
							<!-- for each flight in trip -->
							<li>
								Flight: A380
								<ul>
									<li>Departure: hh:mm am dd/mm/yy</li>
									<li>Return: hh:mm pm dd/mm/yy</li>
									<li>Airline: Emirates</li>
									<li>Class: Economy</li>
								</ul>
							</li>
							<!-- end loop -->
						</ul>
					</div>
					<!-- end if -->

					<button>Cancel Flight</button>
				</div>
			</div>
			
			<h2>Previous Trips</h2>
			<div  class="past-trips admin-inside">

				<div id="past-trips-list">
					<!-- for each flight in past flights -->
					<div class="past-depart-time">Depart Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="past-arrive-time">Arrive Time: hh:mm (am|pm) dd/mm/yyyy</div>
					<div class="past-total-time">Total Time: hh:mm </div>
					<div class="past-price">Price: $12012012011010 </div>
					<!-- end loop -->
				</div>

				<a href="">more</a>
			</div>
		</div>

		<div id="saved-flights">
			<h2>Saved Flights</h2>

			<div class="saved-flights-list admin-inside" >
				<!-- for each saved flight -->
					<div class="saved-flight">

						<div class="departure-time">Depart Time: hh:mm (am|pm) dd/mm/yyyy</div>
						<div class="arrive-time">Arrival Time: hh:mm (am|pm) dd/mm/yyyy</div>
						<div class="number-of-stops">No Stops</div>
						<div class="trip-time">Total Time: 10h 50m</div>
						<div class="trip-price">Cost: $20.00</div>
						<div class="trip-paid">Paid on: 5/04/2015</div>

						<!-- if flights is more than 1 -->
							<div class="trip-flights-list">
								<ul>
									<!-- for each flight in trip -->
									<li>
										Flight: A380
										<ul>
											<li>Departure: hh:mm am dd/mm/yy</li>
											<li>Return: hh:mm pm dd/mm/yy</li>
											<li>Airline: Emirates</li>
											<li>Class: Economy</li>
										</ul>
									</li>
									<!-- end loop -->
								</ul>
							</div>
						<!-- end if -->
						<button>Delete</button>
					</div>
			</div>

				<!-- end loop -->
		</div>


		<div id="settings">
			<h2>Settings</h2>
			<!-- here we will have the settings form which can be updated asynchronously -->
			<div class="admin-inside">
				<form>
					<input type="text" placeholder="email"><br/>
					<input type="text" placeholder="enter your name"><br/>
					<input type="text" placeholder="new password"><br/>
					<input type="text" placeholder="confirm new password"><br/>
					<label>Recieve Marketing Emails</label><input type="checkbox"><br/>

					<button>Save Changes</button>
				</form>
			</div>
		</div>



		{{#if userShowing}}
		<h1>Administration</h1>


		<!-- TODO: fix this up once we have users list going -->
		<div id="users-admin">
			<h2>User Admin</h2>	
			<div class="admin-inside">
				{{#if users}}
				<div id="user-filter-wrapper">
					{{input value=userFilter type="text" class="" id="user-filter" placeholder="Search"}}
				</div>
				<div id="user-list">
					<ul>
						{{#each user}}
						<li>
							<div class="user-name">Al</div>
							<div class="user-email">Al@PartyTime.com</div>
							<div class="disable-account">Disabled: <input type="checkbox" checked></div>
							<div class="account-type">AccountType: 
								<select>
									<option value="user">User</option>
									<option value="admin">Admin</option>
								</select>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
				<a href="" {{action "expandList"}}>expand</a>
				{{else}}
				<div id="no-users">No Users</div>
				{{/if}}
			</div>
		</div>

		<div id="flight-admin">
			<h2>Flight Admin</h2>
			<div class="admin-inside">
				<div id="new-flight">
					<h3>Flight Creation</h3>

					<div class="admin-inside-2">
						<form >
							<input type="text" placeholder="Airline"><br/>
							<input type="text" placeholder="Origin"><br/>
							<input type="text" placeholder="Destination"><br/>
							<input type="text" placeholder="Price"><br/>
							
							<label>Departure Time</label>
							<input type="text" placeholder="dd-mm-yyyy"><br/>
							<label>Arrival Time</label>
							<input type="text" placeholder="dd-mm-yyyy"><br/>

							Tell me what other shit we need here<br/>
							<button>create</button>
						</form>
					</div>

				</div>
				<div id="remove-flight">
					<h3>Flight Removal</h3>

					<div class="admin-inside-2">
						<div id="remove-flight-search">
							<input type="text" placeholder="Flight Number">
							<input type="text" placeholder="Airline">
							<button>find flight</button>
						</div>
						<div id="remove-flight-results">
							<!-- {each flight in flightsForRemoval} -->
							<div class="flight-to-remove">
								<div>Airline</div>
								<div>Flight Number</div>
								<div>From: Origin</div>
								<div>To: Destination</div>
								<button>Delete</button>
							</div>
							<!-- {/each} -->
						</div>
					</div>

				</div>
			</div>

		</div>

		<div id="airline-admin">
			<h2>Airline Admin</h2>
			<div class="admin-inside">
				<div id="purchase-policy">
					<h3>Purchase Policy</h3>

					<div class="admin-inside-2">
						<textarea placeholder="flight purchase policy"></textarea>
						<br/>
						<button>submit</button>
					</div>

				</div>

				<div id="new-airline">
					<h3>Add an Airline</h3>
					
					<div class="admin-inside-2">
						<input type="text" placeholder="Name">
						<input type="text" placeholder="AirlineCode">
						<input type="text" placeholder="Country">
						<button>create</button>
					</div>
				</div>

				<div id="existing-airlines">
					<h3>Airlines</h3>

					<div class="admin-inside-2">
						<div id="airlines-list">
							<!-- {each airline in airlines} -->
							<div class="airline">
								<div>Ariline Name</div>
								<div>Airline Code</div>
								<div>Airline Country</div>
								<button>Delete</button>
							</div>
							<!-- {/each} -->
						</div>
						<a href="" {{action "expandAirlinesList"}}>expand</a>
					</div>
				</div>

			</div>
		</div>

		<div id="promotions-admin">
			<h2>Promotions</h2>
			<div class="admin-inside">
				

			</div>
		</div>

		<div id="admin-settings">
			<h2>Settings</h2>
			<div class="admin-inside">
				<input type="text" placeholder="email">
				<input type="text" placeholder="new password">
				<input type="text" placeholder="confirm password">

				<button>save changes</button>
			</div>
		</div>


		{{/if}}		
	</div>
</div>